@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@font-face {
  font-family: Inter;
  src: url('/Inter-VariableFont_opsz\,wght.ttf');

}

@font-face {
  font-family: Piazzolla;
  src: url('/Piazzolla-VariableFont_opsz\,wght.ttf');
}

body{
  font-family: 'Inter';
  color: white;
  letter-spacing: -0.5px;
}
h1 {
  font-family: 'Piazzolla';
  letter-spacing: -0.5px;
}
ul{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
} 

a{
  display: block;
  text-align: center;
  text-decoration: none;
}
