@import "tailwindcss";


@theme {
  --color-accent: #FFBF48;
  --color-dark: #0F0F0F;
}

@font-face {
  font-family: Inter;
  src: url('/Inter-VariableFont_opsz\,wght.ttf');

}

@font-face {
  font-family: Piazzolla;
  src: url('/Piazzolla-VariableFont_opsz\,wght.ttf');
}

body{
  font-family: 'Inter';
  color: white;
  letter-spacing: -0.5px;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
h1 {
  font-family: 'Piazzolla';
  letter-spacing: -0.5px;
}
ul{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
} 

a{
  display: block;
  text-align: center;
  text-decoration: none;
}
